body {
    background-color: #c8bee2;
    font-family: 'Comic Sans MS', arial;
}

nav#cabec {
    padding-left: 4em;
    padding-right: 4em;
    background-color: #c8bee2;
    border-top: 1px solid #2FF6BF;
    border-right: 1px solid #2FF6BF;
    border-bottom: 1px solid #2FF6BF;
    border-left: 1px solid #2FF6BF;
}